:root {
  --primary-color: rgb(58, 95, 129);
  --secondary-color: rgb(146, 170, 178);
  --tertiary-color: #212529;
  --fourtuary-color: rgb(26, 42, 47);
  --fifth-color: rgb(233, 247, 255);
  --text-color: black;
  --background-color: rgb(248, 249, 250);
  --font-family: 'Roboto', sans-serif;

}

p {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  padding-top: 0;
  min-height: 100vh;
  background-color: rgb(248, 249, 250);
  display: flex;
  flex-direction: column;
}


.social-icon {
  width: 30px;
  height: 30px;
  margin: 0;
  cursor: pointer;
}

.content-div {
  flex: 1;
  padding-top: 115px; /* Fallback for when JS doesn't load */
}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.2rem;
  font-weight: 600;
  color: #222;
  margin-bottom: 1.2rem;
  border-bottom: 2px solid #ccc;
  padding-bottom: 0.3rem;
}
