.content-div {
  display: flex;
  flex-direction: column;
}

.work-experience-page-title {
  font-family: var(--font-family);
  font-size: 30px;
  font-weight: 400;
  color: var(--text-color);
  margin: 0; /*margin comes from itterable work-isntance-div*/
  text-align: center;
}


.work-instance-div {
  display : flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: top;
  margin-top: 50px;
}

.text-div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 45px;
  padding-left: 40px;
}

.work-instance-title {
  font-size: 22px;
  margin-bottom: 15px;
}

.work-instance-description {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
  margin: 0;
  text-align: center;
  line-height: 1.5;
}



.personal-image-div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 40px;
}

.personal-image {
  max-width: 100%;
  max-height: 400px;
  width: auto;
  height: auto;
  border-radius: 10px;
}

